nav {
  color: #FFF;
}

<<<<<<< HEAD
a {
  text-align: center;
=======
table {
  text-align: center;
  border: 1px solid black;
>>>>>>> 55d69347a3880cb1fb1d12cb49ea57fa8732468e
}

td {
  border: 1px solid black;
  background-color: hsla(157, 97%, 27%, 0.7);
}

td:hover {
  background-color: hsla(166, 53%, 11%, 0.7);
}

nav a {
  display: inline;
  color: rgb(200, 240, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  color: red;
}

h1 {
  color: white;
  padding-left: 40px;
<<<<<<< HEAD
}


li {
  color: white;
  color: #FFF;
  text-align: left;
  list-style-type: square;
}


h2 {
  font-weight: bold;
  padding-left: 0.5em;
  margin: 15px 0px;
  font-size: 50px;
}

 body {
   background-image: url("../images/batshadow.jpg");
   color: #FFF;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
=======
}

li {
  color: white;
  text-align: left;
  list-style-type: square;
}

h2 {
  background-color: rgb(1, 29, 79, 0.5);
  padding-left: 0.5em;
  font-size: 50px;
}

body {
  background-image: url("../images/batshadow.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
>>>>>>> 55d69347a3880cb1fb1d12cb49ea57fa8732468e
}
