nav {
  display: inline-table;
  color: #FFF;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

h2 {
  color: #8B0000;
  font-weight: 300;
  font-size: 2.3em;
  /*border: 1px dashed #8B0000;*/
  padding-top: 0.1em;
  text-align: center;
  margin-top: 5px;
  width: 200px;
  margin: 0px 540px 0px 540px;
  position: relative;
}

body {
  background-image: url("../images/AfroSamurai.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

dl {
  color: #FFF;
}

dt {
  font-weight: bold;
  margin: 15px 0px;
}

section {
  color: #FFF;
  order: unset;
  width: 200px;
  padding: 1em;
  float: right;
  position: relative;
}

.top10 {
  display: flex;
  flex-direction: column-reverse;
}
