nav {
  display: inline-table;
  color: #FFF;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

h2 {
  color: #8B0000;
  font-weight: 300;
  font-size: 2.3em;
  /*border: 1px dashed #8B0000;*/
  padding-top: 0.1em;
  margin-top: 5px;
  width: 300px;
  position: relative;
  clear: both;
}

body {
  background-image: url("../images/AfroSamurai.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

dl {
  color: #8b0000;
  text-shadow: 1px 1px 0.15em black;
}

dt {
  font-family: 'Ceviche One', cursive;
  font-size: 35px;
  margin: 15px 0px;
}

dd {
  font-size: 16px;
}

section {
  font-family: 'Ceviche One', cursive;
  font-size: 30px;
  text-shadow: 1px 1px 0.15em black;
  color: #8b0000;
  order: unset;
  width: 200px;
  padding: 1em;
  float: right;
  position: relative;
}

.top10 {
  padding-top: none;
  font-size: 20px;
  text-shadow: 1px 1px 0.15em black;
  display: flex;
  flex-direction: column-reverse;
}
