a {
  text-decoration: none;
}

a:hover {
  color: red;
}

h2 {
  color: #8B0000;
  font-family: 'Nosifer', cursive;
  font-weight: 300;
  font-size: 2.3em;
  /*border: 1px dashed #8B0000;*/
  padding-top: 0.1em;
  width: 5em;
  float: right;
  position: fixed;
}

body {
  background-image: url("../images/sawtricycle.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
